# Enable FTP and set the listening port
listen=YES
listen_port=21

# Enable local users to log in
local_enable=YES

# Enable write access for users
write_enable=YES

# Allow users to create new directories
local_umask=022
file_open_mode=0777

# Set the FTP root directory
chroot_local_user=YES
local_root={{ ftp_path | dirname }}

# Allow users to see hidden files
force_dot_files=YES

# Disable passive mode to make UFW rules easier
pasv_enable=NO
